<div id="search_list">Nothing here yet</div>
<br />

<% semantic_form_for @movie do |f| %>
	<% f.inputs do -%>
		<%= f.input :title, :class => "movie_title" %>
		<%= link_to_remote( 'Search...', { 
   :url => { :action => :imdb_search},
   :with => "'id=' + $('#movie_title').val()",
   :title => "Search for this movie" }
) %>
		<%= f.input :rating %>
		<%= f.input :duration %>
		<%= f.input :directed_by %>
		<%= f.input :cast %>
		<%= f.input :genre %>
		<%= f.input :plot %>
		<%= f.input :poster_url %>
		<%= f.input :imdb %>
		<%= f.input :media %>
		<%= f.input :loaned_to %>
	<% end -%>
	<%= f.buttons %>
<% end %>
