<table>
  <tr>
    <th>Title</th>
    <th>Rating</th>
    <th>Genre</th>
    <th>Imdb</th>
    <th>Media</th>
    <th>Loaned To</th>
  </tr>
  <% for movie in @movies %>
    <tr>
      <td><%=h movie.title %> (<%=h movie.year %>)</td>
      <td><%=h movie.rating %></td>
      <td><%=h movie.genre %></td>
      <td><%=h movie.imdb %></td>
      <td><%=h movie.media.name %></td>
      <td><%=h movie.loaned_to %></td>
      <td><%= link_to "Show", movie %></td>
      <td><%= link_to "Edit", edit_movie_path(movie) %></td>
      <td><%= link_to "Destroy", movie, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
